//墨绿主题
.header{
    background-color: #f0f9eb;
}

.el-button--primary {
  color: #FFF;
  background-color:#5c6d43de;
  border-color: #5c6d43de;
}
.el-button--primary:focus,.el-button--primary:hover{
  color: #FFF;
  background-color: #6f9a2ede;
  border-color: #6f9a2ede;
}

.message-skin-success{
  background-color: #f0f9eb ;
}

