//墨绿主题
.header{
    background-color: #f0f9eb;
}

.el-button--primary {
  color: #FFF;
  background-color:#5c6d43de;
  border-color: #5c6d43de;
}
.el-button--primary:focus,.el-button--primary:hover{
  color: #FFF;
  background-color: #6f9a2ede;
  border-color: #6f9a2ede;
}

.message-skin-success{
  background-color: #f0f9eb ;
}

.el-message__icon{
  font-size: 50px;
}

.logo{
  width: 200px;
  height: 200px;
  background: url('./img/vue.png');
  background-size: 100% 100%;
  margin: 0 auto;
}