//天蓝主题
.header {
  background-color: #3b76b9;
}

.el-button--primary {
  color: #FFF;
  background-color: #409EFF;
  border-color: #409EFF;
}

.el-button--primary:focus,.el-button--primary:hover{
    background: #66b1ff;
    border-color: #66b1ff;
    color: #FFF;
}

.message-skin-success{
  background-color: #6f90b3;
}


.el-message--success .el-message__content{
  color:#FFF;
}
.el-message__icon{
  font-size: 50px;
}
.el-message .el-icon-success{
  color:#409EFF
}
.logo{
  width: 200px;
  height: 200px;
  background: url('./img/react.png');
  background-size: 100% 100%;
  margin: 0 auto;
}